.header {
    &__content {
        background-color: #fff;
        box-shadow: 0 31px 62px rgba(0, 0, 0, 0.06);
    }

    &__content &__right {
        margin-left: 1rem;
        color: #fff;
    }
    &__user &__user--icon1 {
        border-radius: 50%;
        border: 1px solid $primary-color;
        color: $primary-color;
        padding: 4px;
        width: 34px;
        height: 34px;
        margin-right: 1rem;
        &:hover {
            color: #000;
        }
    }
    &__user--icon {
        font-size: 30px;
        margin-left: 1.5rem;
        margin-bottom: 2px;
        color: #fff;
        display: flex;
        span {
            font-size: 23px;
            color: $primary-color;
            &:hover {
                color: #000;
            }
        }
    }
    &__userinfo {
        letter-spacing: 0.01em;
        color: $primary-color;
    }
    &__search {
        font-size: 0;
        line-height: 1;
        &--wrapper {
            display: flex;
            align-items: stretch;
            overflow: visible;
            border: none;
            position: relative;
            width: 100%;
            min-width: 250px;
            border: 2px solid #01abec;
            border-radius: 7px;
            ::after {
                display: block;
                clear: both;
                content: '';
            }
        }

        form {
            margin: 0;
            max-width: none;
        }

        &--input-box,
        select {
            height: 50px;
            font: 400 1.3rem/1.5 'Open Sans', sans-serif;
            background: #fff;
            margin: 0;
        }
        &--input-box {
            font-size: 1.4rem;
            flex: 1 1 auto;
            width: 650px;
            height: 40px;
            max-width: none;
            margin: 0;
            padding: 4px 25px;
            border: none;
            border-radius: 6px 0 0 6px;
            color: #8d8d8d;
            line-height: 20px;
            box-shadow: none;
            ::-webkit-input-placeholder {
                color: #8d8d8d;
            }
            ::-moz-placeholder {
                color: #8d8d8d;
            }
            :-ms-input-placeholder {
                color: #8d8d8d;
            }
            ::-ms-input-placeholder {
                color: #8d8d8d;
            }
            ::placeholder {
                color: #8d8d8d;
            }
        }
        select {
            width: 100%;
            border: none;
            border-left: 1px solid #e7e7e7;
            line-height: 36px;
            color: #8d8d8d;
            padding: 0 15px;
            border-radius: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        &--toggle {
            display: inline-block;
            font-size: 24px;
            line-height: 1;
            min-width: 2.5rem;
            padding: 1rem 0;
            font-weight: 700;
            color: #fff;
            text-align: center;
            display: none;
            .f-icon {
                display: inline-block;
                margin-bottom: 0;
            }
        }
        &--btn {
            flex: 0 0 65px;
            min-width: 0;
            color: #222529;
            background-color: transparent;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 1;
            border: none;
            border-left: 1px solid #e7e7e7;
            padding: 0 3px 0 0;
            margin: 0;
            background-color: $primary-color;
            cursor: pointer;
            span {
                color: #fff;
            }
            :hover,
            :focus {
                color: #fff;
            }
            i::before {
                margin: 0;
            }
        }
    }
}
