.breadcrumb-nav {
    padding: 1rem 0;
}
.breadcrumb {
    margin-bottom: 0;
    padding: 1.25rem 0;
    border-radius: 0;
    background-color: transparent;
    display: flex;
    align-items: flex-start;
}
.breadcrumb-item {
    text-transform: CAPITALIZE;
    font: 600 1.3rem 'Poppins', 'Open Sans', sans-serif;
    letter-spacing: 0.015em;
}
.breadcrumb-item span {
    font-size: 1.7rem;
}
.breadcrumb-item + .breadcrumb-item {
    padding-left: 1rem;
}
.breadcrumb-item + .breadcrumb-item:before {
    font-family: 'Material Icons Outlined';
    content: '\e5cc';
    padding-right: 0.3rem;
    font-size: 1.4rem;
    vertical-align: middle;
    margin-top: -0.5rem;
    color: #8e8e8e;
}
.breadcrumb-item a,
.breadcrumb-item.active {
    color: #8e8e8e;
    &:hover {
        color: $primary-color;
        text-decoration: wavy;
    }
}

.page-header {
    padding: 3.8rem 0 5rem;
}
.breadcrumb-nav + .page-header {
    margin-top: -3rem;
}
